[configurations]
host = localhost
port = 3306
db = mysql
user = root
password = 123456
;word vector file, can be downloaded from GloVe website
word_file = ./data/sgns.wiki.word
;word_file = ./data/words.txt
;word_file = ./data/glove.6B.50d.txt
;each line is a word and its frequency
frequency_file = ./auxiliary_data/SogouLabDic.dic
weight_para = 1e-3
embedding_path = ./data/sentences_embedding.txt
sentences_path = ./data/sqlResult_1558435.csv
processed_sentences = ./data/sentences.txt
word_vector_model_path = ./model/wiki_xinwen_wordvector.model
;word_vector_model_path = ./model/sgns.wiki.model
;glove_vector_model_path = E:/projects/2020/auto_abstract/app/main/abstract_model/data/sgns.wiki.word
;word_vector_model_path = E:/projects/2020/auto_abstract/app/main/abstract_model/model/sgns.wiki.model